@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

    <div class="container-fluid">
        <h4 class="h4">@ViewData["Title"]</h4>
        <p>
            @Model.StatusMessage 
        </p>
    </div>
