@page
@model PageNotFoundModel
@{
    ViewData["Title"] = "Page Not Found";
}

<header>
    <h1 class="text-warning">@ViewData["Title"]</h1>
    <p class="text-warning">was unable to load requested page.</p>
</header>
