
    <div class="col-sm-2">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" id="profile" asp-page="./Index">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="email" asp-page="./Email">Change Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="change-password" asp-page="./ChangePassword">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="user-data" asp-page="./UserData">User Data</a>
            </li>
        </ul>
    </div>

        

